body {
    font-family: sans-serif;
    margin: 0.4em 0.7em;
}
@media (min-width: 30em) {
    body {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 60em) {
    body {
        max-width: 70%;
    }
}

.topMenu {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin: -0.4em -0.7em;
    padding: 0.4em 0.7em;
}
.topMenu a {
    color: white;
}
.topMenuLogo {
    
}
.topMenuUsername:before {
    content: '/';
    margin-left: 0.3em;
    margin-right: 0.3em;
}
.topMenuLogin {
    margin-left: auto;
}

h1 {
    color: rgba(0, 0, 0, 0.6);
    border-bottom: rgba(0, 0, 0, 0.3) 5px solid;
}
@media (min-width: 30em) {
    h1 {
        width: 97%;
    }
}

.controllersButton {
    
}

img {
    max-width: 100%;
}
.item {
    margin-top: 1em;
}
.item img {
    display: block;
    margin-top: 0.3em;
}
@media (min-width: 30em) {
    .itemsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item {
        max-width: 30%;
        margin-right: 3%;
        margin-bottom: 1%;
        padding-bottom: 3%;
        align-self: flex-end;
    }
    .item img {
        margin-top: 1%;
    }
    .itemText {
        height: 3em;
        margin-top: 0.5em;
    }
}

.editImages {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/
    margin-top: 1em;
    margin-bottom: 1em;
}
.editImage, .itemImageInputDiv {
    width: 30%;
    margin: 0 1.5% 3% 1.5%;
    /*width: 10em;
    height: 15em;*/
}
.editImage .editImageImg, .itemImageInputDiv {
    border: rgba(0, 0, 0, 0.2) 1px solid;
    border-radius: 0.3em;
    height: 13em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.editImage span {
    cursor: pointer;
    height: 2em;
}
.editImage span img {
    height: 1.2em;
    vertical-align: text-bottom;
}

.itemFormText {
    display: block;
    width: 100%;
    font-size: 1.4em;
}

.itemImageInput {
    display: none;
}
.itemImageInputDiv {
    border-style: dashed;
    margin-bottom: 1.2em;
}
.itemImageInputLabel {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.itemImageInputLabel span {
}

.deleteImage {
    float: right;
    padding-left: 1.1em;
    fill: black;
    background-repeat: no-repeat;
    background-position: 0 0.1em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='0.8em' height='0.8em' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z'/%3E%3C/svg%3E");
}

.previewCollectionItems {
    display: flex;
    flex-wrap: wrap;
}
.previewCollectionItem {
    display: block;
    width: 6em;
    height: 8em;
    margin-right: 2em;
    margin-bottom: 2em;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 0.3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
