body {
    font-family: sans-serif;
    margin: 0.4em 0.7em;
}
@media (min-width: 30em) {
    body {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 60em) {
    body {
        max-width: 70%;
    }
}

.topMenu {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin: -0.4em -0.7em;
    padding: 0.4em 0.7em;
}
.topMenu a {
    color: white;
}
.topMenuLogo {
}
.topMenuUsername {
    margin-left: auto;
}
.topMenuUsername:after {
    content: '/';
    margin-left: 0.3em;
    margin-right: 0.3em;
}
.topMenuLogin {
    margin-left: auto;
}
.topMenuLogout {
}

.header {
    border-bottom: rgba(0, 0, 0, 0.3) 5px solid;
    display: inline-flex;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}
h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 2em;
    margin: 0;
}
.editHeaderInput {
    display: none;
}
.editHeaderInput input {
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    border: 0;
}
.editHeader {
    width: 0.8em;
    height: 0.8em;
    background-repeat: no-repeat;
    background-position: 0 0.1em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='0.8em' height='0.8em' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17 1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 68-28t68 28l152 152q28 28 28 68t-28 68z'/%3E%3C/svg%3E");
    fill: black;
    cursor: pointer;
}

.controllersButton {
    
}

img {
    max-width: 100%;
}
.item {
    margin-top: 1em;
}
.item img {
    display: block;
    margin-top: 0.3em;
}
.itemImage {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.showItemImage {
    margin: 1em 0;
}
@media (min-width: 30em) {
    .showItemImages {
        display: flex;
    }
    .showItemImage {
        width: 30%;
        margin: 1% 3% 2% 0;
    }
    .showSingleItemImage {
        width: 60%;
        margin: 1em auto;
    }
}

@media (min-width: 30em) {
    .itemsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .itemsWrapper .item {
        width: 30%;
        margin-right: 3%;
        margin-bottom: 1%;
        padding-bottom: 3%;
    }
    .itemsWrapper .item .itemImage {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .itemsWrapper .item img {
        margin-top: 1%;
    }
    .itemsWrapper .itemText {
        margin-top: 0.5em;
    }
}

@media (min-width: 30em) {
    .wishlistWrapper .item {
        display: flex;
        flex-direction: row-reverse;
    }
    .wishlistWrapper .item .itemText {
        margin-right: auto; /* todo: use width */
    }
    .wishlistWrapper .item .itemImage {
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        max-width: 30em;
        min-width: 20em;
        min-height: 20em;
        padding-top: 0;
    }
}

.editImages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}
.editImage, .itemImageInputDiv {
    width: 30%;
    margin: 0 1.5% 3% 1.5%;
}
.editImage .editImageImg, .itemImageInputDiv {
    border: rgba(0, 0, 0, 0.2) 1px solid;
    border-radius: 0.3em;
    height: 13em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.editImage span {
    cursor: pointer;
    height: 2em;
}
.editImage span img {
    height: 1.2em;
    vertical-align: text-bottom;
}

.itemFormText {
    display: block;
    width: 100%;
    font-size: 1.4em;
}

.itemImageInput {
    display: none;
}
.itemImageInputDiv {
    border-style: dashed;
    margin-bottom: 1.2em;
}
.itemImageInputLabel {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.itemImageInputLabel span {
}

.deleteImage {
    float: right;
    padding-left: 1.1em;
    fill: black;
    background-repeat: no-repeat;
    background-position: 0 0.1em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='0.8em' height='0.8em' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z'/%3E%3C/svg%3E");
}

.previewCollectionItems {
    display: flex;
    flex-wrap: wrap;
}
.previewCollectionItem {
    display: block;
    width: 6em;
    height: 8em;
    margin-right: 2em;
    margin-bottom: 2em;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 0.3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
